<!-- begin::Footer -->
<footer class="m-grid__item m-footer ">
	<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
		<div class="m-footer__wrapper">
			<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
				<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
					<span class="m-footer__copyright">
						In case of any concern, <a href="javascript:;" class="m-link">Contact Us</a>
					</span>
				</div>
				<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
					<span class="m-footer__copyright">
						2018 &copy; Online Shopping Portal by <a href="javascript:;" class="m-link">SandalWoodFashion</a>
					</span>
				</div>	
			</div>
		</div>
	</div>
</footer>
<!-- end::Footer -->	

<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
	<i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->

<!-- begin::Quick Nav -->
<ul class="m-nav-sticky" style="margin-top: 30px;">
		<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="Facebook">
		<a href="javascript:;"><i class="flaticon-facebook-letter-logo"></i></a>
	</li>
		<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="LinkedIn">
		<a href="javascript:;" target="_blank"><i class="flaticon-linkedin-logo"></i></a>
	</li>
	<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="Twitter">
		<a href="javascript:;" target="_blank"><i class="flaticon-twitter-logo"></i></a>
	</li>
	<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="Youtube">
		<a href="javascript:;" target="_blank"><i class="flaticon-youtube"></i></a>
	</li>
</ul>
<!-- begin::Quick Nav -->


<script th:src="@{/js/footer.js}"></script> 