<head>
	<meta charset="utf-8" />
    <title> SandleWood Fashion </title>
    <meta name="description" content="SandleWood Fashion - Online Shopping Portal" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <!--begin::Web font -->
    <script th:src="@{/assets/app/js/webfont.js}"></script>
    <script>
      WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
        active: function() {
            sessionStorage.fonts = true;
        }
      });
    </script>
    <!--end::Web font -->
    
    <link rel="stylesheet" th:href="@{/assets/vendors/base/vendors.bundle.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/assets/demo/demo6/base/style.bundle.css}" type="text/css" />
    
    <link rel="stylesheet" th:href="@{/css/SimpleStarRating.css}" type="text/css" />
    <link rel="shortcut icon" th:href="@{/assets/demo/demo6/media/img/logo/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    
	<script th:src="@{/assets/vendors/base/vendors.bundle.js}" type="text/javascript"></script>
	<script th:src="@{/assets/demo/demo6/base/scripts.bundle.js}" type="text/javascript"></script>

</head>